<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Tableau de Bord</a></li>
        <li class="active">Bases</li>
    </ol>
    <div class="container-fluid">
        <h1>Liste des Bases</h1>
        <div class="options">
            <div class="btn-toolbar">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ajouterBaseModal">
                    <i class="fa fa-plus-circle"></i> Ajouter une Base
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ajouterBaseModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulaire d'ajout d'une Base</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ajouterBaseForm" method="POST" action="">
                    <div class="form-group row">
                        <label for="nomBase" class="col-sm-3 col-form-label">Nom de la Base *</label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" id="nomBase" name="nom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="routeursPourBase" class="col-sm-3 col-form-label">Sélectionnez un Routeur *</label>
                        <div class="col-sm-9">
                            <select ui-select2 ng-model="routeurPourBase" ng-required="true" required id="routeursPourBase" placeholder="Sélectionnez un routeur..." name="routeur" style="width:100%">
                            </select>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Valider</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" ng-controller="AlertsController">
    <button id="successBaseNotifButton" ng-click="simpleSuccessWithParams('Base','Base enregistrée avec succès !')"></button>
    <button id="errorBaseNotifButton" ng-click="simpleErrorWithParams('Base', 'Une erreur est survenue !')"></button>
</div>

<div class="container-fluid" ng-controller="BasesController">
    <button id="refreshTab" ng-click="refreshTab()" style="display: none;"></button>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Tableau de toutes les Bases enregistrées</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <div class="input-icon right mb10">
                                <i class="fa fa-search"></i>
                                <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Filtre par nom">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <select class="form-control" placeholder="Nombre d'éléments par page" ng-change="pageSizeChange()" ng-model="pagingOptions.pageSize">
                                <option ng-repeat="size in pagingOptions.pageSizes" value="{{ size }}">{{ size }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive table-vertical">
                        <table id="basesTab" class="table table-striped table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Nom</th>
                                    <th>Routeur</th>
                                    <th>Créée le</th>
                                    <th>Créée par</th>
                                    <th>Modifiée le</th>
                                    <th>Modifiée par</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="base in bases" ng-if="!showLoader">
                                    <td data-title="Nom">
                                        <span editable-text="base.nom" e-name="nom" e-form="rowform" e-required>
                                            {{ base.nom }}
                                        </span>
                                    </td>
                                    <td data-title="Routeur">
                                        <span ng-if="base.routeur != null" editable-select="base.routeur.id" e-name="routeur"
                                            e-form="rowform" e-required  e-ng-options="r.id as r.nom for r in routeurs">
                                            {{ base.routeur.nom }}
                                        </span>
                                        <span ng-if="base.routeur == null" class="text-danger" style="font-style: italic;"
                                            editable-select="base.routeur.id" e-name="routeur" e-form="rowform" e-required  e-ng-options="r.id as r.nom for r in routeurs">
                                            Non-Assigné<br>ou<br>Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Créé le">
                                        <span>
                                            {{ base.cree_le }}
                                        </span>
                                    </td>
                                    <td data-title="Créé Par">
                                        <span ng-if="base.cree_par != null">
                                            {{ base.cree_par }}
                                        </span>
                                        <span ng-if="base.cree_par == null" class="text-danger" style="font-style: italic;">
                                            Utilisateur Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Modifié le">
                                        <span>
                                            {{ base.modifie_le }}
                                        </span>
                                    </td>
                                    <td data-title="Modifié Par">
                                        <span ng-if="base.modifie_par != null">
                                            {{ base.modifie_par }}
                                        </span>
                                        <span ng-if="base.modifie_par == null" class="text-danger" style="font-style: italic;">
                                            Utilisateur Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Actions" style="white-space: nowrap">
                                        <form editable-form name="rowform" onbeforesave="saveBase($data, base.id)"
                                            ng-show="rowform.$visible" class="form-buttons form-inline"
                                            shown="inserted == base">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-success">
                                                Valider
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                                class="btn btn-sm btn-default">
                                                Annuler
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <button class="btn btn-sm btn-primary" ng-click="rowform.$show()">Modifier</button>
                                            <button class="btn btn-sm btn-danger" ng-click="removeBase(base.id)">Supprimer</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;" ng-if="showLoader">
                            <img src="images/loader.gif" alt="">
                        </div>
                    </div>
                    <pagination boundary-links="true" rotate="false" items-per-page="pagingOptions.pageSize" total-items="totalServerItems" ng-model="pagingOptions.currentPage" previous-text="Précédent" next-text="Suivant" first-text="Première" last-text="Dernière"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#ajouterBaseModal').on('show.bs.modal', function () {
            $.ajax({
                url:'routeurs',
                type:'GET',
                success: function (rep) {
                    if(rep.code == 200){
                        $('#routeursPourBase').empty();
                        $.each(rep.body, function (index, value) {
                            $('#routeursPourBase').append($('<option/>', { 
                                value: value.id,
                                text : value.nom 
                            }));
                        });
                        $("#routeursPourBase").prop("selectedIndex", -1);
                    }
                },
                error: function (res,status,err) { console.log(err) },
                complete: function () {}
            });
        });

        $('#ajouterBaseForm').submit(function(){
            $.ajax({
                url: 'bases',
                type:'POST',
                data: $('#ajouterBaseForm').serialize(),
                success: function (rep) {
                    if(rep.code == 200){
                        $('#refreshTab').click();
                        $('#ajouterBaseModal').modal('hide');
                        $("#successBaseNotifButton").click();
                        $('#ajouterBaseForm')[0].reset();
                        $("#routeursPourBase").select2("val", "");
                    }else
                        $("#errorBaseNotifButton").click();
                },
                error: function (res,status,err) { console.log(err); $("#errorBaseNotifButton").click(); },
                complete: function () {}
            });
        });
    });
</script>