<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Tableau de Bord</a></li>
        <li class="active">Résultats</li>
    </ol>
    <div class="container-fluid">
        <div class="row"><h1>Résultats</h1></div>
    </div>
</div>

<div class="container-fluid" ng-controller="ResultatsController">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Tableau des Résultats</h4></div>
                <div class="panel-body">
                    <div class="row" style="margin: 10px 0;">
                        <div class="col-lg-4 col-sm-6" style="margin: 5px 0;">
                            <!-- <input type="text" placeholder="Filtre date" name="filtre_date" id="filtre_date" class="form-control" daterangepicker=""> -->
                            <button class="btn btn-default" daterangepicker="filtre_date_options" date-begin="filter_data.filtre_date_debut" date-end="filter_data.filtre_date_fin">
                                <i class="fa fa-calendar"></i> 
                                <!-- <span ng-if="filter_data.filtre_date_debut==null && filter_data.filtre_date_fin==null" style="margin-left: 5px">Intervalle de date d'envoi</span>  -->
                                <span style="margin-left: 5px">{{filter_data.filtre_date_debut}} - {{filter_data.filtre_date_fin}}</span> 
                                <b class="caret"></b>
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-6" style="margin: 5px 0;">
                            <select class="form-control" name="filtre_routeur" ng-change="routeurChange()"
                                    id="filtre_routeur" ng-model="filter_data.filtre_routeur"
                                    ng-options="routeur.id as routeur.nom for routeur in routeurs">
                                <option value="" selected>Routeurs...</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-6" style="margin: 5px 0;">
                            <select class="form-control" name="filtre_routeur"
                                    id="filtre_base" ng-model="filter_data.filtre_base"
                                    ng-options="base.id as base.nom for base in bases">
                                <option value="" selected>Bases...</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-6" style="margin: 5px 0;">
                            <select class="form-control" name="filtre_annonceur" ng-change="annonceurChange()"
                                    id="filtre_annonceur" ng-model="filter_data.filtre_annonceur"
                                    ng-options="annonceur.id as annonceur.nom for annonceur in annonceurs">
                                <option value="" selected>Annonceurs...</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-6" style="margin: 5px 0;">
                            <select class="form-control" name="filtre_campagne"
                                    id="filtre_campagne" ng-model="filter_data.filtre_campagne"
                                    ng-options="campagne.id as campagne.nom for campagne in campagnes">
                                <option value="" selected>Campagnes...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0;">
                        <div class="col-lg-4 col-sm-12 pull-right">
                            <button type="button" class="btn btn-default" ng-click="viderLesChamps()">Vider les champs</button>
                            <button type="button" class="btn btn-primary" ng-click="validerFiltre()">Valider Filtre</button>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0;">
                        <!-- <div class="col-lg-9 col-sm-12">
                            <div class="input-icon right mb10">
                                <i class="fa fa-search"></i>
                                <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Filtre par nom">
                            </div>
                        </div> -->
                        <div class="col-lg-3 col-sm-12 pull-right">
                            <select class="form-control" placeholder="Nombre d'éléments par page" ng-change="pageSizeChange()" ng-model="pagingOptions.pageSize">
                                <option ng-repeat="size in pagingOptions.pageSizes" value="{{ size }}">{{ size }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive table-vertical">
                        <table id="resultatsTab" class="table table-striped table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Date d'envoi</th>
                                    <th>Heure d'envoi</th>
                                    <th>Routeur</th>
                                    <th>Base</th>
                                    <th>Annonceur</th>
                                    <th>Campagne</th>
                                    <th>Volume</th>
                                    <th>Résultat</th>
                                    <th>Créé le</th>
                                    <th>Créé par</th>
                                    <th>Modifié le</th>
                                    <th>Modifié par</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="resultat in resultats" ng-if="!showLoader">
                                    <td data-title="Date d'envoi">
                                        <span>
                                            {{ resultat.date }}
                                        </span>
                                    </td>
                                    <td data-title="Heure d'envoi">
                                        <span>
                                            {{ resultat.heure }}
                                        </span>
                                    </td>
                                    <td data-title="Routeur">
                                        <span ng-if="resultat.routeur != null">{{ resultat.routeur }}</span>
                                        <span ng-if="resultat.routeur == null" class="text-danger" style="font-style: italic;">
                                            Non-Assigné<br>ou<br>Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Base">
                                        <span ng-if="resultat.base != null">{{ resultat.base }}</span>
                                        <span ng-if="resultat.base == null" class="text-danger" style="font-style: italic;">
                                            Non-Assignée<br>ou<br>Supprimée
                                        </span>
                                    </td>
                                    <td data-title="Annonceur">
                                        <span ng-if="resultat.annonceur != null">{{ resultat.annonceur }}</span>
                                        <span ng-if="resultat.annonceur == null" class="text-danger" style="font-style: italic;">
                                            Non-Assigné<br>ou<br>Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Campagne">
                                        <span ng-if="resultat.campagne != null">{{ resultat.campagne }}</span>
                                        <span ng-if="resultat.campagne == null" class="text-danger" style="font-style: italic;">
                                            Non-Assignée<br>ou<br>Supprimée
                                        </span>
                                    </td>
                                    <td data-title="Volume">
                                        <span editable-number="resultat.volume" e-name="volume" e-form="rowform" e-required>
                                            {{ resultat.volume }}
                                        </span>
                                    </td>
                                    <td data-title="Résultat">
                                        <span editable-number="resultat.resultat" e-name="resultat" e-form="rowform" e-required>
                                            {{ resultat.resultat }}
                                        </span>
                                    </td>
                                    <td data-title="Créé le">
                                        <span>
                                            {{ resultat.cree_le }}
                                        </span>
                                    </td>
                                    <td data-title="Créé Par">
                                        <span ng-if="resultat.cree_par != null">
                                            {{ resultat.cree_par }}
                                        </span>
                                        <span ng-if="resultat.cree_par == null" class="text-danger" style="font-style: italic;">
                                            Utilisateur Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Modifié le">
                                        <span>
                                            {{ resultat.modifie_le }}
                                        </span>
                                    </td>
                                    <td data-title="Modifié Par">
                                        <span ng-if="resultat.modifie_par != null">
                                            {{ resultat.modifie_par }}
                                        </span>
                                        <span ng-if="resultat.modifie_par == null" class="text-danger" style="font-style: italic;">
                                            Utilisateur Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Actions" style="white-space: nowrap">
                                        <form editable-form name="rowform" onbeforesave="saveResultat($data, resultat.id)"
                                            ng-show="rowform.$visible" class="form-buttons form-inline"
                                            shown="inserted == resultat">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-success">
                                                Valider
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                                class="btn btn-sm btn-default">
                                                Annuler
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <button class="btn btn-sm btn-primary" ng-click="rowform.$show()">Modifier</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;" ng-if="showLoader">
                            <img src="images/loader.gif" alt="">
                        </div>
                    </div>
                    <pagination boundary-links="true" rotate="false" items-per-page="pagingOptions.pageSize" total-items="totalServerItems" ng-model="pagingOptions.currentPage" previous-text="Précédent" next-text="Suivant" first-text="Première" last-text="Dernière"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>