<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Tableau de Bord</a></li>
        <li class="active">Routeurs</li>
    </ol>
    <div class="container-fluid">
        <h1>Liste des Routeurs</h1>
        <div class="options">
            <div class="btn-toolbar">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ajouterRouteurModal">
                    <i class="fa fa-plus-circle"></i> Ajouter un Routeur
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ajouterRouteurModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulaire d'ajout d'un Routeur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ajouterRouteurForm" method="POST" action="">
                    <div class="form-group row">
                        <label for="nomRouteur" class="col-sm-3 col-form-label">Nom du Routeur *</label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" id="nomRouteur" name="nom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="prixRouteur" class="col-sm-3 col-form-label">Prix du Routeur *</label>
                        <div class="col-sm-9">
                            <input type="number" required min="0" step="0.00000001" class="form-control" id="prixRouteur" placeholder="en €" name="prix">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Valider</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" ng-controller="AlertsController">
    <button id="successRouteurNotifButton" ng-click="simpleSuccessWithParams('Routeur','Routeur enregistré avec succès !')"></button>
    <button id="errorRouteurNotifButton" ng-click="simpleErrorWithParams('Routeur', 'Une erreur est survenue !')"></button>
</div>

<div class="container-fluid" ng-controller="RouteursController">
    <button id="refreshTab" ng-click="refreshTab()" style="display: none;"></button>    
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Tableau de tous les Routeurs enregistrés</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <div class="input-icon right mb10">
                                <i class="fa fa-search"></i>
                                <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Filtre par nom">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <select class="form-control" placeholder="Nombre d'éléments par page" ng-change="pageSizeChange()" ng-model="pagingOptions.pageSize">
                                <option ng-repeat="size in pagingOptions.pageSizes" value="{{ size }}">{{ size }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive table-vertical">
                        <table id="routeursTab" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Créé le</th>
                                    <th>Créé par</th>
                                    <th>Modifié le</th>
                                    <th>Modifié par</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="routeur in routeurs" ng-if="!showLoader">
                                    <td data-title="Nom">
                                        <span editable-text="routeur.nom" e-name="nom" e-form="rowform" e-required>
                                            {{ routeur.nom }}
                                        </span>
                                    </td>
                                    <td data-title="Prix">
                                        <span editable-number="routeur.prix" e-name="prix" e-form="rowform" e-required>
                                            {{ routeur.prix }}
                                        </span>
                                    </td>
                                    <td data-title="Créé le">
                                        <span>
                                            {{ routeur.cree_le }}
                                        </span>
                                    </td>
                                    <td data-title="Créé Par">
                                        <span ng-if="routeur.cree_par != null">
                                            {{ routeur.cree_par }}
                                        </span>
                                        <span ng-if="routeur.cree_par == null" class="text-danger" style="font-style: italic;">
                                            Utilisateur Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Modifié le">
                                        <span>
                                            {{ routeur.modifie_le }}
                                        </span>
                                    </td>
                                    <td data-title="Modifié Par">
                                        <span ng-if="routeur.modifie_par != null">
                                            {{ routeur.modifie_par }}
                                        </span>
                                        <span ng-if="routeur.modifie_par == null" class="text-danger" style="font-style: italic;">
                                            Utilisateur Supprimé
                                        </span>
                                    </td>
                                    <td data-title="Actions" style="white-space: nowrap">
                                        <form editable-form name="rowform" onbeforesave="saveRouteur($data, routeur.id)"
                                            ng-show="rowform.$visible" class="form-buttons form-inline"
                                            shown="inserted == routeur">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-success">
                                                Valider
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                                class="btn btn-sm btn-default">
                                                Annuler
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <button class="btn btn-sm btn-primary" ng-click="rowform.$show()">Modifier</button>
                                            <button class="btn btn-sm btn-danger" ng-click="removeRouteur(routeur.id)">Supprimer</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;" ng-if="showLoader">
                            <img src="images/loader.gif" alt="">
                        </div>
                    </div>
                    <pagination boundary-links="true" rotate="false" items-per-page="pagingOptions.pageSize" total-items="totalServerItems" ng-model="pagingOptions.currentPage" previous-text="Précédent" next-text="Suivant" first-text="Première" last-text="Dernière"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#ajouterRouteurForm').submit(function(){
            $.ajax({
                url: 'routeurs',
                type:'POST',
                data: $('#ajouterRouteurForm').serialize(),
                success: function (rep) {
                    if(rep.code == 200){
                        $('#refreshTab').click();
                        $('#ajouterRouteurModal').modal('hide');
                        $("#successRouteurNotifButton").click();
                        $('#ajouterRouteurForm')[0].reset();
                    }else
                        $("#errorRouteurNotifButton").click();
                },
                error: function (res,status,err) { console.log(err); $("#errorRouteurNotifButton").click(); },
                complete: function () {}
            });
        });
    });
</script>