<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Tableau de Bord</a></li>
        <li class="active">Résultats par Bases</li>
    </ol>
    <div class="container-fluid">
        <div class="row"><h1>Résultats par Bases</h1></div>
    </div>
</div>

<div class="container-fluid" ng-controller="StatsParBasesController">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Tableau des résultats par bases</h4></div>
                <div class="panel-body">
                    <div class="row" style="margin: 10px 0;">
                        <div class="col-lg-9 col-sm-12" style="margin: 5px 0;">
                            <button class="btn btn-default" daterangepicker="filtre_date_options" date-begin="filter_data.filtre_date_debut" date-end="filter_data.filtre_date_fin">
                                <i class="fa fa-calendar"></i> <span style="margin-left: 5px">{{filter_data.filtre_date_debut}} - {{filter_data.filtre_date_fin}}</span> <b class="caret"></b>
                            </button>
                            <button style="margin: 0 5px;" type="button" class="btn btn-primary" ng-click="validerFiltre()">Valider Filtre</button>
                        </div>
                        <div class="col-lg-3 col-sm-12" style="margin: 5px 0;">
                            <select class="form-control" placeholder="Nombre d'éléments par page" ng-change="pageSizeChange()" ng-model="pagingOptions.pageSize">
                                <option ng-repeat="size in pagingOptions.pageSizes" value="{{ size }}">{{ size }}</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <div class="input-icon right mb10">
                                <i class="fa fa-search"></i>
                                <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Filtre par nom">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <select class="form-control" placeholder="Nombre d'éléments par page" ng-change="pageSizeChange()" ng-model="pagingOptions.pageSize">
                                <option ng-repeat="size in pagingOptions.pageSizes" value="{{ size }}">{{ size }}</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="table-responsive table-vertical">
                        <table id="statsParBasesTab" class="table table-striped table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Nom</th>
                                    <th>Chiffre d'Affaires</th>
                                    <th>Prix d'achat</th>
                                    <th>Prix Marge</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="elt in tab" ng-if="!showLoader">
                                    <td data-title="Nom">
                                        <span>
                                            {{ elt.nom }}
                                        </span>
                                    </td>
                                    <td data-title="Chiffre d'Affaires">
                                        <span>
                                            {{ elt.resultat == null ? '0 €' : (elt.resultat*elt.rem).toFixed(2)+' €' }}
                                        </span>
                                    </td>
                                    <td data-title="Prix d'achat">
                                        <span>
                                            {{ elt.pa.toFixed(2)+' €' }}
                                        </span>
                                    </td>
                                    <td data-title="Prix Marge">
                                        <span>
                                            {{ ((elt.resultat*elt.rem) - elt.pa).toFixed(2)+' €' }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;" ng-if="showLoader">
                            <img src="images/loader.gif" alt="">
                        </div>
                    </div>
                    <pagination boundary-links="true" rotate="false" items-per-page="pagingOptions.pageSize" total-items="totalServerItems" ng-model="pagingOptions.currentPage" previous-text="Précédent" next-text="Suivant" first-text="Première" last-text="Dernière"></pagination>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-12"><button class="btn btn-orange btn-block" data-pulsate="{onHover:true}">Total Volume: {{ totalVolume }}</button></div>
                    <div class="col-lg-3 col-sm-12"><button class="btn btn-green btn-block" data-pulsate="{onHover:true}">Total Chiffre d'Affaires: {{ totalCA.toFixed(2) }} €</button></div>
                    <div class="col-lg-3 col-sm-12"><button class="btn btn-inverse btn-block" data-pulsate="{onHover:true}">Total Prix d'Achat: {{ totalPA.toFixed(2) }} €</button></div>
                    <div class="col-lg-3 col-sm-12"><button class="btn btn-magenta btn-block" data-pulsate="{onHover:true}">Total Prix Marge: {{ totalMarge.toFixed(2) }} €</button></div>
                </div>
            </div>
        </div>
    </div>
</div>